= form_for @attachment, url: attachment_path do |f|
  - if @attachment.errors.any?
    %h2= "#{ pluralize @attachment.errors.count, 'error' } prevented this attachment from being saved:"
    %ul
      - @attachment.errors.full_messages.each do |message|
        %li= message
  = f.hidden_field :user_id, value: current_user.id
  = f.label :attachment_upload, "Select image"
  = f.file_field :attachment_upload
  = f.label :alt
  = f.text_field :alt
  = f.label :caption
  = f.text_field :caption
  = f.hidden_field :status, value: "Approved"
  = f.submit
= link_to "Cancel", subdomain_root_url
