%h1= "#{@account['name']} Dashboard"
= link_to "Upload photo", new_attachment_path
= link_to "Log out", destroy_user_session_path, method: :delete
%h2= "Recent Uploads"
- @attachments.each do |attachment|
  = link_to attachment_show_path(attachment['id']) do
    %figure.thumbnail
      - if attachment['content_type'].include? 'image'
        = image_tag attachment['attachment_upload'].thumbnail, alt: attachment['alt'], class: 'thumbnail__image'
      - elsif attachment['content_type'].include? 'video'
        = video_tag attachment['attachment_upload'], controls: true, class: 'thumbnail__video'
      %figcaption.thumbnail__caption= attachment['caption']
%h2= "Albums"
= link_to 'Create album', new_album_path
- @albums.each do |album|
  = link_to album_show_path(album['id']) do
    %h3= album['title'] if album['title']
  %p= album['description'] if album['description']
  - album['attachments'].each do |album_attachment|
    = link_to attachment_show_path(album_attachment['id']) do
      %figure.thumbnail
        - if album_attachment['content_type'].include? 'image'
          = image_tag album_attachment['attachment_upload'].thumbnail, alt: album_attachment['alt'], class: 'thumbnail__image'
        - elsif album_attachment['content_type'].include? 'video'
          = video_tag album_attachment['attachment_upload'], controls: true, class: 'thumbnail__video'
        %figcaption.thumbnail__caption= album_attachment['caption']
